{% extends 'base.html.twig' %}

    {% block title %} Liste des opportunités d'affaires{% endblock %}
{% block body %}
    <h1>Liste des opportunités d'affaires</h1>

    <a class="btn btm-sm btn-primary" style="float: right;" href="{{ path('opportunity_edit') }}"><i class="fa fa-plus" ></i> Ajouter une opportunité</a>
    <br>
    <br>
    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>Id</th>
            <th>Nom du projet</th>
            <th>Client</th>
            <th>Type</th>
            <th>Probabilité</th>
            <th>État</th>
            <th>Total</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for opportunity in opportunitys %}
            <tr>
                <td>{{ opportunity.id }}</td>
                <td>{{ opportunity.label }}</td>
                <td>{{ opportunity.customer.nom }}</td>
                <td>{{ opportunity.type }}</td>
                <td>
                    {% set val = opportunity.probability ? opportunity.probability.value : 0  %}
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="{{ val }}"
                             aria-valuemin="0" aria-valuemax="100" style="width:{{ val }}%">
                            {{ val }}%
                        </div>
                    </div>
                </td>
                <td>{{ opportunity.status }}</td>
                <td class="pull text-right">{{ opportunity.total|number_format(2, '.', ' ') }}</td>
                <td>
                    <a class="btn btn-xs btn-warning" href="{{ path('opportunity_edit', { 'id': opportunity.id }) }}"><i class="fa fa-pencil" ></i> Edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
