{% extends 'base.html.twig' %}

{% block body %}
    <h1>Lists des livraison</h1>

    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Réf</th>
                <th>Date</th>
                <th>Bon de commande</th>
                <th>Lieu de livraison</th>
                <th>Livreur</th>
                <th>Nbr produits</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for livraison in livraisons %}
            <tr>
                <td>{{ livraison.reference }}</td>
                <td>{{ livraison.date|date('d/m/Y') }}</td>
                <td>{{ livraison.bonDeCommandeClient }}</td>
                <td>{{ livraison.lieu }}</td>
                <td>{{ livraison.livreur }}</td>
                <td>{{ livraison.livraisonProduits|length }}</td>
                <td>
                    <a class="btn btn-xs btn-info" href="{{ path('livraison_show', { 'id': livraison.id }) }}">Voir</a>
                    <a class="btn btn-xs btn-warning" href="{{ path('livraison_edit', { 'id': livraison.id }) }}">Editer</a>
                    <a class="btn btn-xs btn-primary" target="_blank" href="{{ path('livraison_print', { 'id': livraison.id , 'ref' : livraison.reference }) }}"> Afficher en pdf</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
