<head>
    <meta charset='utf-8'>

    <link rel="icon" href="{{ asset('img/favicon_SD.png') }}"/>
    <title>Bon de livraison N° {{ livraison.id }}</title>
    {{ include('::style.html.twig') }}
</head>
<body>
{% set client = livraison.bonDeCommandeClient.client %}
<div class="header">
    <table width="100%">
        <tr>
            <td style="width: 240px;">
                <img height="85" width="204" src="img/LOGO-SD-HR.png">
            </td>
            <td style="width: 240px;">
                <h2 style="font-size: 100%;">Bon de livraison <br>{{ livraison.reference }}</h2>
                <table>
                    <tr>
                        <td>Date :</td>
                        <td>{{ livraison.date|date('d/m/Y') }}</td>
                    </tr>
                    <tr>
                        <td>Bon de commande :</td>
                        <td>{{ livraison.bonDeCommandeClient.numeroDeBonDeCommandeClient }}</td>
                    </tr>
                </table>
            </td>
            <td style="vertical-align: top">
                <b>Adressé à:</b><br>
                {{ client.nom }}<br>
                {% if client.address %}
                    {{ client.address }}<br>
                {% endif %}

                {% if client.tel %}
                    {{ client.tel }} <br>
                {% endif %}
                <b>Contact :</b> {{ livraison.bonDeCommandeClient.contact }}
            </td>
        </tr>
    </table>
</div>
<br>
<br>

<table class="produits" style="font-size: 13px;">
    <thead>
    <tr>
        <th width="10%">Qté</th>
        <th width="50%">Désignation</th>
        <th width="40%">Numéro de série</th>
    </tr>
    </thead>
    <tbody>
    {% for livPro in livraison.livraisonProduits %}
        <tr>
            <td align="center">{{ livPro.quantite }}</td>
            <td>
                {% if livPro.produit.designation|trim != '' %}
                    <strong>{{ livPro.produit.designation }} : </strong>
                    <br>
                {% endif %}
                {{ livPro.produit.description|raw }}
                {% if livPro.produit.isProduct %}
                    {% if not livPro.produit.garanties is empty %}
                        <br><strong>Garantie : </strong>
                        {% for garantie in livPro.produit.garanties %}
                            <br>{{ garantie }}
                        {% endfor %}
                    {% endif %}
                    {% if not livPro.produit.termes is empty %}
                        <br><strong>Conditions particulières : </strong>
                        {% for terme in livPro.produit.termes %}
                            <br>{{ terme.nom|capitalize ~" - "~ terme.description }}
                        {% endfor %}
                    {% endif %}
                {% endif %}
            </td>
            <td>
                {% for serie in livPro.series %}
                {{ serie }}
                {% endfor %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<br>
<br>



<div class="footer">
    {% include '::footer.html.twig' with {'footer': livraison.bonDeCommandeClient.devis.piedDePage} %}
    <p class="page"></p>
</div>
<br>
<br>

<br>


<div class="page-number"></div>

</body>