{% extends 'base.html.twig' %}

    {% block title %} Liste des tickets{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet"
          href="/bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css"/>
{% endblock %}
{% block body %}
    <div class="row">
        <br>
        <div class="col-md-12">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#statistic" data-toggle="tab">Statistique</a>
                </li>
                <li><a href="#table_tickets" data-toggle="tab">Liste des tickets</a>
                </li>
                <li><a href="{{ path('ticket_new') }}">Nouveau ticket</a>
                </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane fade in active" id="statistic">
                    <br>
                    {% include 'ticket/statistic.html.twig' %}
                </div>
                <div class="tab-pane fade" id="table_tickets">
                    <br>
                    {% include 'ticket/table_tickets.html.twig' %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script src="/bower_components/chart.js/dist/Chart.js"></script>
    <script type="text/javascript" src="/bower_components/moment/min/moment.min.js"></script>
    <script type="text/javascript" src="/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>

    <script>
        var ctx = document.getElementById("myChart");
        data = {
            datasets: [{
                data: {{ statistics['data']|raw }},
                backgroundColor: {{ statistics['colors']|raw }}
            }],

            labels: {{ statistics['labels']|raw }}
        };
        var myPieChart = new Chart(ctx, {
            type: 'pie',
            data: data,
        });

        $('.datepicker').datetimepicker({
            locale: 'fr',
            format: 'DD/MM/YYYY'
        });
    </script>
{% endblock %}
