{% extends 'base.html.twig' %}

    {% block title %} Liste des tickets{% endblock %}
{% block body %}
    <h1>Liste des tickets</h1>

    <a class="btn btn-primary" style="float: right;" href="{{ path('ticket_new') }}" >Nouveau ticket</a>
    <br>
    <br>
    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>Ref</th>
            <th>Date</th>
            <th>Responsable</th>
            <th>Objet</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for ticket in tickets %}
            <tr>
                <td>{{ ticket.reference }}</td>
                <td>{{ ticket.date|date('d/m/Y') }}</td>
                <td>{{ ticket.affectedTo }}</td>
                <td>{{ ticket.objet }}</td>
                <td>
                    <a class="btn btn-xs btn-primary" href="{{ path('ticket_show', { 'id': ticket.id }) }}">show</a>
                    <a class="btn btn-xs btn-warning" href="{{ path('ticket_edit', { 'id': ticket.id }) }}">edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
