{% extends 'base.html.twig' %}

{% block title %} Nouveau ticket{% endblock %}
{% block stylesheets %}
{{ parent() }}
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" />
{% endblock %}
{% block body %}
    <h1>Nouveau ticket</h1>

    {{ form_start(form) }}
    <div class=" well well-lg">
        <div class="row">
            <div class="col-md-3 form-group ">
                {{ form_label(form.date) }}
                {{ form_widget(form.date) }}
                {{ form_errors(form.date) }}
            </div>
            <div class="col-md-3 form-group ">
                {{ form_label(form.serie) }}
                {{ form_widget(form.serie) }}
                {{ form_errors(form.serie) }}
            </div>
            <div class="col-md-3 form-group ">
                {{ form_label(form.client) }}
                {{ form_widget(form.client) }}
                {{ form_errors(form.client) }}
            </div>
            <div class="col-md-3 form-group ">
                {{ form_label(form.tel) }}
                {{ form_widget(form.tel) }}
                {{ form_errors(form.tel) }}
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 form-group ">
                {{ form_label(form.objet) }}
                {{ form_widget(form.objet) }}
                {{ form_errors(form.objet) }}
            </div>
            <div class="col-md-12 form-group ">
                {{ form_label(form.description) }}
                {{ form_widget(form.description) }}
                {{ form_errors(form.description) }}
            </div>
            <div class="col-md-3 form-group ">
                {{ form_label(form.priority) }}
                {{ form_widget(form.priority) }}
                {{ form_errors(form.priority) }}
            </div>
            <div class="col-md-3 form-group ">
                {{ form_label(form.affectedTo) }}
                {{ form_widget(form.affectedTo) }}
                {{ form_errors(form.affectedTo) }}
            </div>
            <div class="col-md-3 form-group ">
                {{ form_label(form.file) }}
                {{ form_widget(form.file.file) }}
                {{ form_errors(form.file.file) }}
            </div>
        </div>
    </div>

    <a class="btn btn-default" href="{{ path('ticket_index') }}">Annuler</a>
    <input class="btn btn-primary pull-right" type="submit" value="Enregistrer"/>
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="/bower_components/moment/min/moment.min.js"></script>
    <script type="text/javascript" src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $('.datetimepicker').datetimepicker({
                locale: 'fr',
                format: 'DD/MM/YYYY HH:mm'
            }).focus();
        });
    </script>
{% endblock %}
