<table class="piedDePage">
    <tbody>
    <tr>
        <th>Contacts</th>
        <th>Informations Juridiques</th>
        <th>Identifiants de l'entreprise</th>
    </tr>
    <tr>
        <td valign="top">
            {{ footer.adresse }}
            <br>
            {{ footer.Telephone }}
            <br>
            {{ footer.fax }}
            <br>
            {{ footer.email }}
        <td valign="top">
            SOLDAT {{ footer.formejuridique }}<br>
            Au capital de {{ footer.capital }}<br>
            RC : {{ footer.rc }}
        </td>
        <td valign="top">
            ICE : {{ footer.ice }}<br>
            Patente : {{ footer.patente }}<br>
            CNSS : {{ footer.cnss }}
        </td>
    </tr>
    </tbody>
</table>