<head>
    <meta charset='utf-8'>

    <link rel="icon" href="{{ asset('img/favicon_SD.png') }}" />
    <title>Bon de command fournisseur N° {{ bcf.id }}</title>

    <style type="text/css">
        * {
            font-size: 70%;
            font-family: sans-serif;
        }

        @page {
            margin: 0.2cm;
        }

        body {
            margin-top: 2.5cm;
            margin-bottom: 2cm;
            margin-left: .5cm;
            margin-right: .5cm;
            text-align: justify;
        }

        div.header,
        div.footer {
            position: fixed;
            width: 100%;
            border: 0px solid #888;
            overflow: hidden;
            padding: 0.1cm;
            text-align: center;
        }

        div.header {
            top: 0cm;
            left: 0cm;
            border-bottom-width: 0px;
            height: 2.5cm;
        }

        div.footer {
            bottom: 0cm;
            left: 0cm;
            border-top-width: 0px;
            height: 2cm;
        }

        table {
            border-collapse: collapse;
        }

        table.entete {
            margin: 0 auto;
        }

        table.produits {
            margin: 0 auto;
        }

        table.totaux {
            width: 60%;
            margin-right: 0px;
            margin-left: auto;
            page-break-inside: avoid;
        }

        table.signature {
            margin-right: auto;
            margin-left: 0px;
        }

        table.produits tbody tr:nth-child(odd) {
            background-color: #F4F4F4;
        }

        table.entete th {
            border-left: 0;
            border-right: 0;
            border-top: 0;
        }

        th.numero {
            width: 200px;
            text-align: center;
        }

        table.client th {
            border-left: 0;
            border-right: 0;
            border-top: 0;
        }

        table.introduction th {
            border-left: 0;
            border-right: 0;
            border-top: 0;
        }

        table.produits {
            width: 100%;
            table-layout: fixed;
        }

        table.produits th {
            font-weight: 1000;
            font-size: 90%;
            border-bottom: 1.5px solid #F39914;
            border-left: 0;
            border-right: 0;
            border-top: 0;
            color: #545454;
            background-color: #CCCCCC;
            height: 20px;
        }

        table.produits td {
            border-bottom: 2px solid #C8C8C8;
            border-left: 0;
            border-right: 0;
            border-top: 0;
        }

        table.totaux tr:last-child td {
            border-bottom: 0.5px solid #F39914;
            border-left: 0;
            border-right: 0;
            border-top: 0;
        }

        table.totaux th {
            font-weight: 1000;
            font-size: 90%;
            border-bottom: 2px solid #C8C8C8;
            border-left: 0;
            border-right: 0;
            border-top: 0;
            color: #545454;
            background-color: #CCCCCC;
        }

        table.totaux td {
            font-weight: 1000;
            font-size: 90%;
            border-bottom: 2px solid #C8C8C8;
            border-left: 0;
            border-right: 0;
            border-top: 0;
            text-align: right;
        }

        table.signature {
            text-align: right;
            margin-left: 400px;
            margin-right: 0;
            page-break-inside: avoid;
        }

        table.termes {
            page-break-inside: avoid;

        }

        table.piedDePage {
            border-left: 2.5px solid #F39914;
            text-align: center;
            width: 100%;
        }

    </style>
</head>
<body>
<div class="header">
    <table class="entete" width="100%;" >
        <tr>
            <td rowspan="4" align="center"  >
                <img height="85" width="204" src="img/LOGO-SD-HR.png"><br>
            </td>
            <th class="numero" rowspan="4">
                Bon de commande n°{{ bcf.id }}
            </th>
            <th>
                Gestionnaire :
            </th>
            <td>
                {#{{ bcf.commercial }}#}
            </td>
        </tr>
        <tr>
            <th>
                Email:
            </th>
            <td>
                {#{{ bcf.commercial.email }}#}
            </td>
        </tr>
        <tr>
            <th>
                Telephone :
            </th>
            <td>
                {#{{ bcf.commercial.telephone }}#}
            </td>
        </tr>
        <tr>
            <th>
                Valide jusqu'au
            </th>
            <td>
                {#{{ bcf.datemodification|date_modify(""~bcf.validite~" day")|localizeddate('none', 'none', 'fr_FR', null, "cccc, d MMMM Y")|capitalize }}#}
            </td>
        </tr>
    </table>
    <br>
</div>


<div class="footer">
    <table class="piedDePage" >
        <tbody>
        <tr>
            <th>Contacts</th>
            <th>Informations Juridiques</th>
            <th>Identifiants de l'entreprise</th>
        </tr>
        <tr>
            <td valign="top" >
                {{ bcf.modele.piedDePage.adresse }}
                <br>
                {{ bcf.modele.piedDePage.Telephone }}
                <br>
                {{ bcf.modele.piedDePage.fax }}
                <br>
                {{ bcf.modele.piedDePage.email }}
            <td valign="top" >
                {{ company_name }} {{ bcf.modele.piedDePage.formejuridique }}<br>
                Au capital de {{ bcf.modele.piedDePage.capital }}<br>
                RC : {{ bcf.modele.piedDePage.rc }}
            </td>
            <td valign="top" >
                ICE : {{ bcf.modele.piedDePage.ice }}<br>
                Patente : {{ bcf.modele.piedDePage.patente }}<br>
                CNSS : {{ bcf.modele.piedDePage.cnss }}
            </td>
        </tr>
        </tbody>
    </table>
    <p class="page"></p>
</div>

<table class="client" >
    <tbody>
    <tr>
        <th>Objet du devis :</th>
        <td style="width: 200px;" >titre</td>
    </tr>
    <tr>
        <th>Date :</th>
        <td>{{ "now"|localizeddate('none', 'none', 'fr_FR', null, "cccc, d MMMM Y")|capitalize }}</td>
    </tr>
    <tr>
        <th>A l'attention de :</th>
        <td>Contact</td>
    </tr>
    <tr>
        <th>Pour le compte de :</th>
        <td></td>
    </tr>
    </tbody>
</table>
<br>
<table class="produits">
    <thead>
    <tr>
        <th width="10%">Qté {{ bcf.produits|length }}</th>
        <th width="50%">Désignation</th>
        <th width="20%" align="right">P.U. H.T. {{ bcf.fournisseur.devisevente.symbol }}</th>
        <th width="20%" align="right">S.T. H.T. {{ bcf.fournisseur.devisevente.symbol }}</th>
    </tr>
    </thead>
    <tbody>
    {% for produit in bcf.produits if not produit.estFusionne %}
        <tr>
            <td align="center">{{ produit.quantite }}</td>
            <td>
                {% if produit.designation|trim != '' %}
                    <strong>{{ produit.produitDevis.designation|capitalize }} : </strong>
                    <br>
                {% endif %}
                {{ produit.produitDevis.description|capitalize|raw }}

            </td>
            <td align="right">{{ produit.prixachatht|number_format(2, ',', '.') }} {{ bcf.fournisseur.devisevente.symbol }}</td>
            <td align="right">{{ (produit.quantite * produit.prixachatht)|number_format(2, ',', '.') }} {{ bcf.fournisseur.devisevente.symbol }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<br>
<table class="totaux">
    <tbody>
    <tr>
        <th>Total HT</th>
        <td></td>
    </tr>
    <tr>
        <th>Total T.V.A.</th>
        <td></td>
    </tr>
    <tr>
        <th>Total TTC</th>
        <td></td>
    </tr>
    <tr>
        <td colspan="2"><i>La somme du présent devis est arretée à :
                <strong>
                    TTC.</strong></i></td>
    </tr>
    </tbody>
</table>
<br><br><br><br><br><br><br><br><br><br>
<br><br>
{#<table class="signature">#}
    {#<tbody>#}
    {#<tr>#}
        {#<td>Cordialement,</td>#}
    {#</tr>#}
    {#<tr>#}
        {#<th>{{ bcf.commercial.civilite }} {{ bcf.commercial.prenom }} {{ bcf.commercial.nom }}</th>#}
    {#<tr>#}
        {#<th>{{ bcf.Commercial.poste }}</th>#}
    {#</tr>#}
    {#</tbody>#}
{#</table>#}

<div class="page-number"></div>

</body>