<head>
    <meta charset='utf-8'>

    <link rel="icon" href="{{ asset('img/favicon_SD.png') }}"/>
    <title>Bon de commande N° {{ bcf.id }}</title>

    {{ include('::style.html.twig') }}
</head>
<body>
<div class="header">
    <table class="entete" width="100%;">
        <tr>
            <td style="width: 250px;">
                <img height="85" width="204" src="img/LOGO-SD-HR.png"><br>
            </td>
            <td>

            </td>
            <td>
                <table class="client">
                    <tbody>
                    {% if bcf.date %}
                        <tr>
                            <th>Date :</th>
                            <td>{{ bcf.date|localizeddate('none', 'none', 'fr_FR', null, "cccc, d MMMM Y")|capitalize }}</td>
                        </tr>
                    {% endif %}
                    <tr>
                        <th>A l'attention de :</th>
                        <td>{{ bcf.fournisseur.contactParDefaut }}</td>
                    </tr>
                    <tr>
                        <th>Pour le compte de :</th>
                        <td>{{ bcf.fournisseur.nom }}</td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </table>
    <br></h1>
</div>

<div class="footer">
    {% include '::footer.html.twig' with {'footer': bcf.modele.piedDePage} %}
    <p class="page"></p>
</div>
<br>
<br>
<center style="font-size: 20px;font-weight: bolder"> Bon de commande {{ bcf.reference }}</center>
<br>
<table class="produits" >
    <thead>
    <tr>
        <th width="10%">Réf</th>
        <th width="50%">Désignation</th>
        <th width="10%">Qté</th>
        <th width="15%" align="right">P.U. H.T. {{ bcf.fournisseur.devisevente.symbol }}</th>
        <th width="16%" align="right">S.T. H.T. {{ bcf.fournisseur.devisevente.symbol }}</th>
    </tr>
    </thead>
    <tbody>
    {% for produit in bcf.produits %}
        <tr>
            <td>&nbsp; {{ produit.produitDevis.referenceproduit }}</td>
            <td>
                {% if produit.designation|trim != '' %}
                    <strong>{{ produit.produitDevis.designation }} : </strong>
                    <br>
                {% endif %}
                {{ produit.produitDevis.description|raw }}
            </td>
            <td align="center">{{ produit.quantiteFournisseur }}</td>
            <td align="right">{{ produit.prixachatht|number_format(2, ',', '.') }} {{ bcf.fournisseur.devisevente.symbol }}</td>
            <td align="right">{{ (produit.quantite * produit.prixachatht)|number_format(2, ',', '.') }} {{ bcf.fournisseur.devisevente.symbol }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<br>
<table class="totaux">
    <tbody>
    <tr>
        <th>Total HT</th>
        <td>{{ bcf.total|number_format(2, ',', '.') }}</td>
    </tr>
    <tr>
        <th>Total T.V.A.</th>
        <td>{{ bcf.totalTVA|number_format(2, ',', '.') }}</td>
    </tr>
    <tr>
        <th>Total TTC</th>
        <td>{{ bcf.getTotalTTC|number_format(2, ',', '.') }}</td>
    </tr>
    <tr>
        <td colspan="2"><i>La somme du présent devis est arretée à :
                <strong>{{ bcf.totalTTC|localizednumber('spellout','default','fr_FR')|capitalize }} {{ bcf.fournisseur.devisevente.nom }}
                    TTC.</strong>
        </td>
    </tr>
    </tbody>
</table>
<br><br><br><br><br><br><br><br><br><br>
<br><br>
<table class="signature">
    <tbody>
    <tr>
        <td>Cordialement,</td>
    </tr>
    <tr>
        <th>{{ bcf.commercial.civilite }} {{ bcf.commercial.prenom }} {{ bcf.commercial.nom }}</th>
    <tr>
        <th>{{ bcf.Commercial.poste }}</th>
    </tr>
    </tbody>
</table>

<div class="page-number"></div>

</body>