{% import "macros.html.twig" as mg %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Acte d’engagement {{ rfp.object }}</title>
</head>
<body>

<p>
{% for lot in rfp.lots %}
    Pour le Lot n°{{ loop.index }}: {{ lot.title }}<br>
    {% for devis in lot.devis %}
        <b>{{ devis.titre }}</b><br>
        Montant hors TVA :
        <b>{{ devis.getTotalHT|number_format(2, ',', ' ') }} {{ devis.devisevente.symbol }} </b>
        ({{ mg.nbr2char(devis.getTotalHT) }})
        <br>
        Taux de la TVA : <b>20%</b><br>
        Montant de la TVA :
        <b>{{ devis.getTotalTVA|number_format(2, ',', ' ') }} {{ devis.devisevente.symbol }}</b>
        ({{ mg.nbr2char(devis.getTotalTVA) }})
        <br>
        Montant TVA comprise: <b>{{ devis.getTotalTTC|number_format(2, '.', ' ') }} {{ devis.devisevente.symbol }} </b>
        ({{ mg.nbr2char(devis.getTotalTTC) }})
        <br>
    {% endfor %}
{% endfor %}
</p>

<p>
    L’Etat se libérera des sommes dues par lui en faisant donner crédit au compte <b>BMCE BANK</b> ouvert au nom de <b>SOLDAT SARL</b> à <b>Casablanca</b> sous relevé d’identification : <b>011780000016210001127789</b>.
</p>
<br>
<p style="float: right" >Fait à <b>Casablanca</b> le
    <b>{{ "now"|localizeddate('none', 'none', 'fr_FR', null, "cccc, d MMMM Y")|capitalize }}</b></p>
</body>
</html>