{% extends 'base.html.twig' %}


{% block body %}


<div class="row">
	<h1>Edition d'un accusé de Bon de commande </h1>
		<p class="lead">Consulter et editer les BC utilisés dans la gestion commerciale.<br> A venir, les rapports </p>
</div>
<hr>
<br><br><br>
	<div class="container">
		<div class="col-lg-12">
            {{ form_start(form) }}

			<div class="row well well-lg">

				<div class="col-md-6">
                    {{ form_row(form.client) }}
				</div>
				<div class="col-md-6">
                    {{ form_row(form.contact) }}
				</div>

				<div class="col-md-3">
                    {{ form_row(form.datedereception) }}
				</div>
				<div class="col-md-3">
                    {{ form_row(form.datebondecommande) }}
				</div>
				<div class="col-md-4">
                    {{ form_row(form.numeroDeBonDeCommandeClient) }}
				</div>

				<div class="col-md-2">
                    {{ form_row(form.echeance) }}
				</div>
			</div>
			<hr>
			<br>
			<div class="row well well-lg" style="width:75%">
				<div class="col-md-12" >
                    {{ form_row(form.Fichier) }}
				</div>
			</div>

			<div class="row">
				<a type="button" href="{{ url('BonDeCommandeClient_list') }}" class="btn btn-default">Annuler</a>
				<button type="submit" class="btn btn-primary" formnovalidate>Enregistrer Bon de commande</button>
			</div>
			<br><br><br>
            {{ form_end(form) }}
		</div>
	</div>

{% endblock %}

{% block javascripts %}

	{{ parent() }}
  	<script src="{{ asset('js/bootstrap-filestyle.min.js') }}"></script>
	<script>
        $('#bon_de_commande_client_form_client').change(function (e) {
            e.preventDefault();
            loadContacts($(this).val());
        });

        function loadContacts(customerId) {
            $.ajax({
                type: 'POST',
                url: '{{ url('get_contacts') }}',
                data: {'id': customerId},
                dataType: "json",
                success: function (data, status, object) {
                    $("#bon_de_commande_client_form_contact").empty();
                    if (data.code == 1) {
                        $("#bon_de_commande_client_form_contact").prop("disabled", false);
                        $.each(data.contacts, function (i, item) {
                            $('#bon_de_commande_client_form_contact').append($('<option>', {
                                value: item.id,
                                text: item.civilite + " " + item.prenom + " " + item.nom,
                                selected: true
                            }));
                            if (item.defaut) {
                                $('#bon_de_commande_client_form_contact').prop('selected');
                            }
                        });

                        {% if form.vars.value.contact %}
                        $("#bon_de_commande_client_form_contact option:selected").prop("selected", false);
                        $('#bon_de_commande_client_form_contact').val({{ form.vars.value.contact.id }});
                        {% endif %}
                    }
                },
                error: function (data, status, object) {
                    console.log("Error : " + data.message);
                }
            });
        }
	</script>
{% endblock %}