{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <link href="{{ asset('css/jquery.dataTables.min.css') }}" rel="stylesheet"/>

{% endblock %}

{% block body %}
    <h1>Liste des Bon de Commande client</h1>
    <p class="lead">Consulter et editer les Bons de Commande client utilisées dans la gestion commerciale.

    <div class="row">
        <div class="col-lg-12">
            <hr>
            <table id="liste_devis" class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Client</th>
                    <th>Référence</th>
                    <th>Date de réception</th>
                    <th>Commercial</th>
                    <th>Total H.T.</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for chaque_BonDeCommandeClient in BonDeCommandeClient %}
                    <tr>
                        <th scope="row">{{ chaque_BonDeCommandeClient.id }}  </th>
                        <strong>
                            <td>{{ chaque_BonDeCommandeClient.client.nom }} </td>
                        </strong>
                        <td>{{ chaque_BonDeCommandeClient.numeroDeBonDeCommandeClient }} </td>
                        <td>{{ chaque_BonDeCommandeClient.datedereception |date("d/m/Y") }} </td>
                        <td>{{ chaque_BonDeCommandeClient.commercial.prenom }} {{ chaque_BonDeCommandeClient.commercial.nom }} </td>
                        <td align="right">
                            <strong>{{ chaque_BonDeCommandeClient.getTotalHT | number_format(2, '.', ',') }} </strong>
                        </td>
                        <td>
                            <a class="btn btn-xs btn-info"
                               href="{{ url('BonDeCommandeClient_voir', {'id' : chaque_BonDeCommandeClient.id}) }}">Voir</a>
                            <a class="btn btn-xs btn-warning"
                               href="{{ url('BonDeCommandeClient_edit', {'id' : chaque_BonDeCommandeClient.id}) }}">Edit</a>
                            <div class="dropdown">
                                <button class="btn btn-xs btn-default dropdown-toggle" type="button" id="dropdownMenu1"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    Autre actions
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                    {% if chaque_BonDeCommandeClient.verrouille  == false %}
                                        <li>
                                            <a href="{{ url('BonDeCommandeClient_verrouille', {'id' : chaque_BonDeCommandeClient.id,'source' : "index"}) }}">Verrouiller</a>
                                        </li>
                                    {% else %}
                                        <li>
                                            <a href="{{ url('BonDeCommandeClient_verrouille', {'id' : chaque_BonDeCommandeClient.id,'source' : "index"}) }}">Déverouiller</a>
                                        </li>
                                        <li>
                                            <a href="{{ url('BonDeCommandeFournisseur_generate', {'id' : chaque_BonDeCommandeClient.id}) }}">BC
                                                fournisseur</a>
                                        </li>
                                    {% endif %}
                                    {% if chaque_BonDeCommandeClient.hasProductsInStock %}
                                        <li>
                                            <a href="{{ url('livraison_bc', {'id' : chaque_BonDeCommandeClient.id}) }}">Faire
                                                une livraison</a></li>
                                    {% endif %}
                                    <li>
                                        <a href="{{ url('facture_generate', {'id' : chaque_BonDeCommandeClient.id}) }}">Générer la facture</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li>
                                        <a href="{{ url('BonDeCommandeClient_delete', {'id' : chaque_BonDeCommandeClient.id}) }}">Suppr</a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <hr>
        </div>
    </div>
{% endblock %}

{% block javascripts %}

    {{ parent() }}

    <script src="{{ asset('js/jquery.dataTables.min.js') }}"></script>

    <script>
        $(document).ready(function () {
            $('#liste_devis').DataTable();
        });
        $.extend($.fn.dataTableExt.oStdClasses, {
            "sFilterInput": "form-control",
            "sLengthSelect": "form-control"
        });
    </script>

{% endblock %}
