{% extends 'base.html.twig' %}
{% block stylesheets %}
{{ parent() }}

<link href="{{ asset('css/jquery.dataTables.min.css') }}" rel="stylesheet" />
{% endblock %}

{% block title %} Voir Devis {{devis.client.nom}} n°{{devis.id}} {% endblock %}
{% block body %}

<div class="row">

      <br>
      <a type="button" title="Retour à liste des devis" href="{{ url('devis_list') }}" class="btn btn-default">Retour à la liste</a>
      <a type="button" title="Finaliser un devis change la version du devis" class="btn btn-primary" href="{{ url('devis_publier_pdf', {'id' : devis.id})}}"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> Publier le devis pdf</a>
      <a type="button" title="Actualiser le taux de change de chaque produit"  class="btn btn-success" href="{{ url('devis_actualisertauxachat', {'id' : devis.id})}}"><i class="fa fa-refresh" aria-hidden="true"></i> Actualiser le taux de change</a>

      <h1>Consulter un devis </h1>
        <p class="lead">Consulter et editer les devis utilisées dans la gestion commerciale.<br> A venir, les rapports </p>
</div>
<div class="row">
  <ul class="nav nav-tabs"> 
    <li>
      <a href="{{ url('devis_voir', {'id' : devis.id})}}">Aperçu du devis</a>
    </li> 
    <li  class="active">
      <a href="{{ url('devis_detail', {'id' : devis.id})}}">Détail</a>
    </li> 
    <li >
      <a href="{{ url('devis_voirprofitabilite', {'id' : devis.id})}}">Analyse financière</a>
    </li> 
  </ul>
</div>

<div class="container-fluid">

  <div class="row">
    <br>
    <p class="lead" align="left">Devis : <small>{{ devis }} </small></p>
  </div>


  <div class="row">
    <div class="well" style="background-color: #fcfcfc; width:45%;">
    <table class="table"  style="width:100%">
        <tbody>
          <tr>

            <th style="min-width:15%">Nom du Client :</th>
            <td align="left"><a type="button" class="btn btn-default" href="{{ url('client_voir', {'id' : devis.client.id})}}"><strong>{{devis.client.nom |capitalize }}</strong></a>
            </td>
          </tr>
          <tr>
            <th style="min-width:15%">Destinataire :</th>
            <td align="left"><strong>{{devis.destinataire.civilite |capitalize  }} {{devis.destinataire.prenom |capitalize }} {{devis.destinataire.nom |capitalize }}</strong></td>
          </tr>
          <tr>
            <th style="min-width:10%">Nom du commercial :</th>
            <td align="left">{{devis.commercial.prenom}} {{devis.commercial.nom}}</td>
          </tr>
          <tr>
            <th style="min-width:10%">Référence du devis :</th>
            <td align="left"><strong>{{devis.reference}}</strong></td>
          </tr>
          <tr>
            <th style="min-width:10%">Valide jusqu'au :</th>
            <td align="left">{{ devis.datemodification|date_modify(""~devis.validite~" day")|localizeddate('none', 'none', 'fr_FR', null, "cccc, d MMMM Y") |capitalize }}</td>
          </tr>
          <tr>
            <td></td>
            <td>
              <a type="button" class="btn btn-warning" href="{{ url('devis_edit', {'id' : devis.id})}}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit</a>
              <a type="button" class="btn btn-success" href="{{ url('devis_nouvelleversion', {'id' : devis.id})}}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Nouvelle Version</a>
              <a type="button" class="btn btn-primary" href="{{ url('devis_apercupdf', {'id' : devis.id})}}"  target="_blank"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> Aperçu en PDF</a>
            </td>
          </tr>
        </tbody>
    </table>
    </div>
  </div>
  <hr>

 <div class="row">
    <div class="col-lg-4">
      <div class="panel panel-default">
        <div class="panel-heading"><strong>Résumé par Acquisition </strong></div>
        <div class="panel-body" text-align="center">    
          <table class="table table-striped"  style="width:100%">
              <thead>
                  <tr>
                    <th>Fournisseur <span class="badge" >#articles</span>  <span class="badge" >#pièces</span> </th>
                    <th>Achats</th>
                  </tr>
              </thead>              
              <tbody>
                  {% for achat in devis.getAchatsParFournisseur %} 
                    <tr>
                      <th>{{achat.nom[:10]}}... <span class="badge" >{{achat.articles}}</span>  <span class="badge" >{{achat.pieces}}</span> </th>
                      <td>{{achat.revenu| number_format(2, ',', ' ')}} <strong>{{achat.devise}}</strong></td>
                    </tr>
                  {% endfor %}  
                    <tr>
                      <th>TOTAL Achats ({{devis.devisevente.symbol}})</th>
                      <th>{{devis.getTotalPrixRevient| number_format(2, ',', ' ')}} <strong>{{devis.devisevente.symbol}}</strong></th>
                    </tr>               
              </tbody>
          </table>
        </div>
      </div>
    </div>
   
  <div class="col-lg-4">
    <div class="panel panel-default"  style="width:fit-content">
      <div class="panel-heading"><strong>Résumé par Métier </strong></div>
      <div class="panel-body" text-align="center">    
        <table class="table table-striped"  style="width:fit-content">
            <thead>
                <tr>
                  <th>Métier <span class="badge" >#articles</span>  <span class="badge" >#pièces</span> </th>
                  <th>Chiffre d'affaires</th>
                </tr>
            </thead>              
            <tbody>           
                {% for achat in devis.getRevenuParMetier %} 
                  <tr>
                    <th>{{achat.nom[:10]}}... <span class="badge" >{{achat.articles}}</span>  <span class="badge" >{{achat.pieces}}</span> </th>
                    <td>{{achat.revenu| number_format(2, ',', ' ')}} <strong>{{devis.devisevente.symbol}} </strong>
                      ({{ (100*achat.revenu/devis.getTotalHT)| number_format(2, ',', ' ')}}%) </td>
                  </tr>
                {% endfor %}  
                  <tr>
                    <th>TOTAL C.A. ({{devis.devisevente.symbol}})</th>
                    <th>{{devis.getTotalHT| number_format(2, ',', ' ')}} <strong>{{devis.devisevente.symbol}}</strong></th>
                  </tr>               
            </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="col-lg-4">
      <div class="panel panel-default"  style="width:fit-content">
        <div class="panel-heading"><strong>Résumé par Type produit </strong></div>
        <div class="panel-body" text-align="center">    
          <table class="table table-striped"  style="width:fit-content">
              <thead>
                  <tr>
                    <th>Type produit <span class="badge" >#articles</span>  <span class="badge" >#pièces</span> </th>
                    <th>Chiffre d'affaires</th>
                  </tr>
              </thead>              
              <tbody>
                  {% for achat in devis.getRevenuParTypeProduit %} 
                    <tr>
                      <th>{{achat.nom [:10]}}...<span class="badge" >{{achat.articles}}</span>  <span class="badge" >{{achat.pieces}}</span> </th>
                      <td>{{achat.revenu| number_format(2, ',', ' ')}} <strong>{{devis.devisevente.symbol}}</strong>
                          ({{ (100*achat.revenu/devis.getTotalHT)| number_format(2, ',', ' ')}}%) </td>
                    </tr>
                  {% endfor %}  
                    <tr>
                      <th>TOTAL C.A. ({{devis.devisevente.symbol}})</th>
                      <th>{{devis.getTotalHT| number_format(2, ',', ' ')}} <strong>{{devis.devisevente.symbol}}</strong></th>
                    </tr>               
              </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <hr>

  <div class="row">
    <div class="well" style="background-color: #fcfcfc">
      <table class="table table-hover" id ="liste_devis">
        <thead>
          <tr>
            <th>#</th>
            <th>Qté</th>
            <th>Desc.</th>   
            <th>Px Achat</th>   
            <th>Métier</th>           
            <th>Type</th>
            <th>TAUX</th>
            <th>FA</th>
            <th>Marge</th>
            <th>P.U.</th>
            <th>ST</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for produit in devis.produits %}
            <tr>
              <td scope="row">{{ produit.numero }} </td>
              <td class="quantite" contenteditable="true" id="{{ produit.id }}"><strong>{{ produit.quantite }}</strong></td>
              <td>
                {% if produit.designation != " " %}
                  <strong>{{ produit.designation |capitalize | nl2br}}</strong>
                  <br>              
                {% endif %}
                {{ produit.description [:30] | capitalize | raw }}
                <br>       
              </td>
              <td>{{ produit.prixachatht | number_format(2, ',', ' ') }} {{produit.deviseachat.code}} </td>
              <td>{{ produit.metier.nom [:10]}}... </td>
              <td>{{ produit.typeproduit.nom [:10]}}... </td>
              <td>{{ produit.tauxAchat | number_format(2, ',', ' ')}}{{devis.devisevente.code}}/{{produit.deviseachat.code}} </td>
              <td>{{ produit.fraisapproche * 100 }}% </td>
              <td>{{ (produit.marge * 100) | number_format(2, ',', ' ') }}% </td>
              <td>{{ produit.getPrixVenteHT() | number_format(2, ',', ' ') }} </td>
              <td>{{ (produit.getSousTotalHT()) | number_format(2, ',', ' ') }} {% if produit.optionnel %}<span class="badge" >option</span>{% endif %}</td>
              <td>
                {# <a type="button" class="btn btn-default" href="{{ url('produitdevis_voir', {'id' : produit.id})}}">Voir</a> #}
                <a type="button" class="label label-warning" href="{{ url('produitdevis_edit', {'id' : produit.id})}}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Editer</a>
                <a type="button" class="label label-danger" href="{{ url('produitdevis_delete_confirmed', {'id' : produit.id})}}"><i class="fa fa-trash-o" aria-hidden="true"></i> Effacer</a>
              </td>
              </tr>
          {% endfor %}     
        </tbody>  
      </table>
    </div>
  </div>


{% endblock %}

{% block javascripts %}
  {{ parent() }}

  <script src="{{ asset('js/jquery.dataTables.min.js') }}"></script>
  <script>
  $(document).ready(function() {
      $('#liste_devis').DataTable({
      "pageLength": 25
    } );
  } );
  $.extend($.fn.dataTableExt.oStdClasses, {
    "sFilterInput": "form-control",
    "sLengthSelect": "form-control"
});
  </script>

  {% endblock %}