{% extends 'base.html.twig' %}


{% block stylesheets %}
  {{ parent() }}

  <style>

    table.pnl {
    padding: 2px;
    }

    table.charges {
    padding: 0px;
    }

    table.pnl tr:nth-child(even){
    background-color:#FFF; 
    }

    table.pnl th    {
    border-bottom: 2px solid #C8C8C8;
    border-left: 0; 
    border-right: 0; 
    border-top: 0;            
    }

    table.pnl td    {
      border-bottom: 2px solid #C8C8C8;
      border-left: 0; 
      border-right: 0; 
      border-top: 0;            
    }

    table.charges td    {
    border-bottom: 0;
    border-left: 0; 
    border-right: 0; 
    border-top: 0;            
    }

    td.positive {
        color: MediumSeaGreen;
    }

    td.negative {
      color: red;
    }


  </style>

    {% endblock %}

{% block title %} Profitabilité {{devis}} {% endblock %}
{% block body %}

    {% include 'devis/devis_nav.html.twig' with {'devis': devis, type: 'profitabilite' } %}

<br>
<div class="container-fluid">
  {# <div class="well" style="background-color: #fcfcfc;"> #}
  <div class="row">
    <table class="pnl"  style="width:100%">
        <tbody>
          <tr>
            <th style="min-width:10%; text-align: center;">Calcul</th>
            <th style="min-width:10%; text-align: right;">Rubrique</th>
            <th style="text-align: right;">Produits</th>
            <th style="text-align: right;">Charges</th>
            <th style="text-align: center;">Résultats</th>
            <th style="text-align: center;">Taux</th>
            <th style="text-align: center;">Information</th>
          </tr>

          <tr>
            <td style="text-align: center;">A </td>
            <th style="min-width:15%; text-align: right;" >Chiffre d'affaire</th>
            <td align="right">{{devis.TotalHT | number_format(2, '.', ',')}} {{devis.deviseVente.symbol}}</td>
            <td></td>
            <td style="text-align:center;"></td>    
            <td align="center" {% if (devis.MarkUP*100) < 10 %}class="negative"{% else %}class="positive"{% endif %}>
              Markup : {{(devis.MarkUP*100) | number_format(2, '.', ',')}}%
            </td>
            <td style="text-align: center;"></td>
          </tr>

          <tr title="Inclus dans la marge brute">
            <td style="text-align: center;">B </td>
            {% if devis.getResultatDeChange() >= 0 %}
              <th style="min-width:15%; text-align: right;" >Gain de Change</th>
              <td align="right">{{(devis.getResultatDeChange()) | number_format(2, '.', ',')}} {{devis.deviseVente.symbol}}</td>
              <td align="right"></td>
              <th style="text-align:center;"></th>    
              <td align="center" {% if (devis.getResultatDeChange()/devis.TotalHT*100) <= 0.5 %}class="negative"{% else %}class="positive"{% endif %}>{{(devis.getResultatDeChange()/(devis.TotalHT*devis.tauxVente)*100) | number_format(2, '.', ',')}}%</td>

            {% else %}
              <th style="min-width:15%; text-align: right;">Perte de Change</th>
              <td align="right"></td>
              <td align="right">{{(-1)*devis.getResultatDeChange() | number_format(2, '.', ',')}} {{devis.deviseVente.symbol}}</td>  
              <th style="text-align:center;"></th>    
              <td align="center" class="negative">{{(devis.getResultatDeChange()/devis.TotalHT*100) | number_format(2, '.', ',')}}%</td>

            {% endif %}
            <td style="text-align: center;">Derniere mise à jour des taux : <br>{{ devis.datemiseajourchange| localizeddate('none', 'none', 'fr_FR', null, "cccc, d MMMM Y") }}
              <a type="button" title="Actualiser le taux de change de chaque produit"  class="label label-success" href="{{ url('devis_actualisertauxachat', {'id' : devis.id})}}"><i class="fa fa-refresh" aria-hidden="true"></i> Actualiser le taux de change</a>
            </td>
          </tr>

          <tr>
            <td style="text-align: center;">C </td>
            <th style="min-width:15%; text-align: right;">Charges Financières</th>
            <td align="right"></td>
            <td align="right">{{(devis.FraisFinanciers)| number_format(2, '.', ',')}} {{devis.deviseVente.symbol}}</td>
            <th style="text-align:center;"></th>
            <td align="center" {% if (devis.TauxFraisFinanciers*100) <= 0 %}class="positive"{% else %}class="negative"{% endif %}>{{(devis.TauxFraisFinanciers*100) | number_format(2, '.', ',')}}%</td>
            <td align="center">Recouvrement moyen : {{devis.client.delaipaiementconstate}} Jours</td>
          </tr>

          <tr>
            <td style="text-align: center;">D </td>
            <th style="min-width:15%; text-align: right;">Achats revendus</th>
            <td align="right"></td>
            <td align="right">{{devis.getTotalPrixRevient()| number_format(2, '.', ',')}} {{devis.deviseVente.symbol}}</td>
            <th style="text-align:center;"></th>    
            <td align="center">{{(devis.getTotalPrixRevient()/devis.TotalHT*100) | number_format(2, '.', ',')}}%</td>
            <td align="center"></td>
          </tr>

          <tr>
            <td style="text-align: center;">Mb = A - (C + D) </td>
            <th style="min-width:15%; text-align: right;">Marge brute</th>
            <td align="right"></td>    
            <td></td>    
            <th style="text-align:center;">{{devis.MargeBrute | number_format(2, '.', ',')}} {{devis.deviseVente.symbol}}</th>
            <td align="center" {% if (devis.TauxMargeBrute*100) < 10 %}class="negative"{% else %}class="positive"{% endif %}> {{(devis.TauxMargeBrute*100) | number_format(2, '.', ',')}}%</td>
            <td></td>

          </tr>
          <tr>
            <td style="text-align: center;">E </td>
            <th style="min-width:15%; text-align: right;">Charge d'exploitation</th>
            <td align="right"></td>
            <td align="right">{{devis.ValeurChargesDExploitation | number_format(2, '.', ',')}} {{devis.deviseVente.symbol}}</td>
            <td align="right"></td>    
            <td align="center">{{(devis.getTauxChargesExploitation*100) | number_format(2, '.', ',')}}%</td>
            <td>
              <span class="label label-default">{{ devis.TravailAvantVente.nom }}</span>
              <span class="label label-default">{{ devis.TravailCommercial.nom }}</span>
              <span class="label label-default">{{ devis.TravailImport.nom }}</span>
              <span class="label label-default">{{ devis.TravailLivraison.nom }}</span>
              <a type="button" class="label label-warning" href="{{ url('devis_edit', {'id' : devis.id})}}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit</a>
{#               <font size="1">
                <table class="charges"  >
                <tbody>
                  <tr>
                    <td style="border-top: 0px; text-align: center;">Avant-vente</td>
                    <td style="border-top: 0px; text-align: center;">Commercial</td>
                    <td style="border-top: 0px; text-align: center;">Import</td>
                    <td style="border-top: 0px; text-align: center;">Livraison</td>
                  </tr>
                  <tr>
                    <td style="border-top: 0px; text-align: center;">{{ devis.TravailAvantVente.nom }}</td>
                    <td style="border-top: 0px; text-align: center;">{{ devis.TravailCommercial.nom }}</td>
                    <td style="border-top: 0px; text-align: center;">{{ devis.TravailImport.nom }}</td>
                    <td style="border-top: 0px; text-align: center;">{{ devis.TravailLivraison.nom }}</td>
                  </tr>
                </tbody>
              </table>
              </font> #}
            </td>
          </tr>
           <tr>
            <td style="text-align: center;">Mn = Mb - E </td>
            <th style="min-width:15%; text-align: right;">Marge Nette</th>
            <td align="right"></td>    
            <td align="right"></td>    
            <th style="text-align:center;">{{devis.MargeNette | number_format(2, '.', ',')}} {{devis.deviseVente.symbol}}</th>
            <td align="center" {% if (devis.TauxMargeNette*100)  < 7 %}class="negative"{% else %}class="positive"{% endif %}>{{(devis.TauxMargeNette*100) | number_format(2, '.', ',')}}%</td>
            <td></td>
            <td></td>
          </tr>
           <tr>
            <td style="text-align: center;">Mnn = Mn * 0.7 </td>
            <th style="min-width:15%;  text-align: right;">Marge Nette apres impôts</th>
            <td align="right"></td>    
            <td align="right"></td>    
            <th style="text-align:center;">{{(devis.MargeNette*0.7) | number_format(2, '.', ',')}} {{devis.deviseVente.symbol}}</th>
            <td align="center" {% if (100*devis.MargeNette*0.7/devis.TotalHT) < 5 %}class="negative"{% else %}class="positive"{% endif %}>{{(100*devis.MargeNette*0.7/devis.TotalHT) | number_format(2, '.', ',')}}%</td>
            <td></td>
          </tr>
        </tbody>
    </table>
  </div>
  <br><br>

{# </div> #}
{% endblock %}