{% extends 'base.html.twig' %}
{% block title %} Créer un client {% endblock %}
{% block body %}
	<h1>Ajouter un Client</h1>
	<p class="lead">Consulter et editer les Clients utilisées dans la gestion commerciale.<br> A venir, une mise a jour automatique des Clients.</p>
<a type="button" href="{{ url('client_list') }}" class="btn btn-default">Retour à la liste</a>
<hr>
<div class="container">
	<div class="row">
		<div class="col-lg-12">
			{{ form_start(form) }}
			{{ form_errors(form) }}

			<div class="row well well-lg">
				<div class="col-md-3">
					{{ form_label(form.nom) }}
					{{ form_errors(form.nom) }}
					{{ form_widget(form.nom) }}
				</div>
				<div class="col-md-3">
					{{ form_label(form.delaipaiementconstate) }}
					{{ form_errors(form.delaipaiementconstate) }}
					{{ form_widget(form.delaipaiementconstate) }}
				</div>
				<div class="col-md-3">
					{{ form_label(form.commercial) }}
					{{ form_errors(form.commercial) }}
					{{ form_widget(form.commercial) }}
				</div>
			</div>
			<div class="row well well-lg">
				<div class="col-md-6">
					{{ form_label(form.prive) }}<br>
					{{ form_errors(form.prive) }}
					{{ form_widget(form.prive) }}
				</div>
				<div class="col-md-3">
					{{ form_label(form.secteur) }}
					{{ form_errors(form.secteur) }}
					{{ form_widget(form.secteur) }}
				</div>
			</div>
			<hr>			
			<div>
				{{ form_widget(form.save) }}
			</div>
			{{ form_end(form) }}
		</div>
	</div>
</div>

{% endblock %}  	