{% extends 'base.html.twig' %}

{% block title %} Editer {{ nom }} {% endblock %}
{% block body %}

<div class="row">
	<h1>Editer un Client</h1>
	<p class="lead">Consulter et editer les Clients utilisées dans la gestion commerciale.<br> A venir, une mise a jour automatique des Clients.</p>
	<hr>
</div>
<h2 class="page-header">Modification de {{ nom }}</h2>
<div class="container">
	<div class="row">
		<div class="col-lg-12">
			{{ form_start(form) }}
			{{ form_errors(form) }}
			<div class="well well-lg">
				<div class="row">
					<div class="col-md-4 form-group {% if not form.nom.vars.valid %} has-error {% endif %}">
						{{ form_label(form.nom) }}
						{{ form_errors(form.nom) }}
						{{ form_widget(form.nom) }}
					</div>
					<div class="col-md-4 form-group {% if not form.delaipaiementconstate.vars.valid %} has-error {% endif %}">
						{{ form_label(form.delaipaiementconstate) }}
						{{ form_errors(form.delaipaiementconstate) }}
						{{ form_widget(form.delaipaiementconstate) }}
					</div>
					<div class="col-md-4 form-group {% if not form.secteur.vars.valid %} has-error {% endif %}">
						{{ form_label(form.secteur) }}
						{{ form_errors(form.secteur) }}
						{{ form_widget(form.secteur) }} 
					</div>
				</div>
				<div class="row">
					<div class="col-md-4 form-group {% if not form.commercial.vars.valid %} has-error {% endif %}">
                        {{ form_label(form.commercial) }}
                        {{ form_errors(form.commercial) }}
                        {{ form_widget(form.commercial) }}
					</div>
					<div class="col-md-4" >
                        {{ form_label(form.tel) }}
                        {{ form_errors(form.tel) }}
                        {{ form_widget(form.tel) }}
					</div>
					<div class="col-md-4 form-group {% if not form.prive.vars.valid %} has-error {% endif %}">
                        {{ form_label(form.prive) }}
                        {{ form_errors(form.prive) }}
                        {{ form_widget(form.prive) }}
					</div>
				</div>
				<div class="row" >
					<div class="col-md-6 form-group">
                        {{ form_label(form.address) }}
                        {{ form_errors(form.address) }}
                        {{ form_widget(form.address) }}
					</div>
				</div>
			</div>
			<hr>			
			<div>
				<div class="row" align="center">
					<a type="button" href="{{ url('client_list') }}" class="btn btn-default"><i class="fa fa-undo" aria-hidden="true"></i> Annuler</a>
					<button type="submit" class="btn btn-primary" formnovalidate>Modifier un client</button>
				</div>
			</div>
			{{ form_end(form) }}
		</div>
	</div>
</div>
<br><br><br>
{% endblock %}  