{% extends 'base.html.twig' %}
{% block title %} Effacer {{ nom }} {% endblock %}
{% block body %}

	<h1>Effacer un modele</h1>
	<p class="lead">Consulter et editer les modele utilisées dans la gestion commerciale.</p>
	<hr>

	<h2 class="page-header">{{ nom }}</h2>
	<table>
		<tbody>
			<tr>
				<td>
					<a type="button" href="{{ url('modeleDevis_delete_confirmed', {'id' : id})}}" class="btn btn-danger">Effacer {{ nom }}</a>
				</td>
				<td>
				-
				</td>
				<td>
					<a type="button" href="{{ url('modeleDevis_list') }}" class="btn btn-default">Annuler</a>
				</td>
			</tr>
		</tbody>
	</table>

{% endblock %}