<div class="row">
    <div class="col-md-8">
        {{ form_start(search_form) }}
        <div class="form-inline">
            {{ form_row(search_form.startDate) }}
            {{ form_row(search_form.endDate) }}
            {{ form_row(search_form.submit) }}
        </div>
        {{ form_end(search_form) }}
    </div>
</div>