{% extends 'base.html.twig' %}

{% block body %}


<h1>Editer une Terme Commercial</h1>
	<p class="lead">Consulter et editer les Termes Commerciauxutilisées dans la gestion commerciale.<br> A venir, une mise a jour automatique des TermeCommercial</p>
<hr>
<a type="button" href="{{ url('TermeCommercial_list')}}" class="btn btn-default">Retour à la liste</a>
<h2 class="page-header">Modification de {{ nom }}</h2>
	<div class="row">
		<div class="col-lg-12">
			{{ form_start(form) }}
			{{ form_widget(form) }}
			{{ form_end(form) }}
		</div>
	</div>

{% endblock %}