{% extends 'base.html.twig' %}
{% block title %} Liste des contacts {% endblock %}

{% block body %}
	<h1>Liste des contact</h1>
	<p class="lead">Consulter et editer les contact utilisées dans la gestion commerciale.<br> A venir, une mise a jour automatique des contact.</p>

	<div class="row">
		<div class="col-lg-12">
			<hr>
			<table class="table table-hover">
				<thead>
					<tr>
						<th>#</th>
						<th>Prenom, Nom</th>
						<th>Nom</th>
						<th>Poste</th>
						<th>Client</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					{% for contact in contacts %}
						<tr>
							<th scope="row">{{ contact.id }} </th>
							<td>{{ contact.nom }} </td>
							<td>{{ contact }}</td>
							<td>{{ contact.poste }} </td>							
							<td>{{ contact.client.nom }}</td>
							<td>
								<a type="button" class="btn btn-default" href="{{ url('contact_voir', {'idclient':client.id,'id' : contact.id})}}">Voir</a>
								<a type="button" class="btn btn-warning" href="{{ url('contact_voir', {'idclient':client.id,'id' : contact.id})}}">Editer</a>
								<a type="button" class="btn btn-danger" href="{{ url('contact_delete', {'idclient':client.id,'id' : contact.id})}}">Effacer</a>
							</td>
							</tr>
					{% endfor %}
				</tbody>
			</table>
				<hr>
				<a type="button" class="btn btn-success" href="/contact/create">Ajouter un contact</a>		
		</div>
	</div>
{% endblock %}  