{% extends 'base.html.twig' %}

    {% block title %} Liste des Factures{% endblock %}
{% block body %}
    <h1>Lists des factures</h1>

    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>Id</th>
            <th>Date</th>
            <th>Bon de commande</th>
            <th>Total TTC</th>
            <th>Paiement</th>
            <th>Reste à payer</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for facture in factures %}
            <tr>
                <td>{{ facture.reference }}</td>
                <td>{{ facture.date|date('d/m/Y') }}</td>
                <td>{{ facture.bonDeCommandeClient }}</td>
                <td>{{ facture.bonDeCommandeClient.totalTTC|number_format(2, '.', ' ') }}</td>
                <td>{{ facture.totalPaiements|number_format(2, '.', ' ') }}</td>
                <td>{{ facture.restePayer|number_format(2, '.', ' ') }}</td>
                <td>
                    <a class="btn btn-xs btn-warning" href="{{ path('facture_paiements', {'id' : facture.id }) }}">Paiement</a>
                    <a class="btn btn-xs btn-primary" target="_blank"
                       href="{{ path('facture_pdf', {'id' : facture.id, 'ref' : facture.reference }) }}"> Afficher en
                        pdf</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
