{% extends 'base.html.twig' %}

{% block body %}
    <h1>Lists des paiements de la facture {{ facture.numero }}</h1>
<a class="btn btn-default"  href="{{ path('facture_index') }}" > Retour à la liste des facture</a>
<a class="btn btn-primary" style="float: right;" href="{{ path('paiement_edit', {'id' : facture.id }) }}" >Nouveau paiement</a>
    <br>
    <br>
    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>Id</th>
            <th>Date</th>
            <th>Mode de paiement</th>
            <th>Numéro</th>
            <th>Valeur</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for paiement in paiements %}
            <tr>
                <td>{{ paiement.id }}</td>
                <td>{{ paiement.date|date('d/m/Y') }}</td>
                <td>{{ paiement.mode }}</td>
                <td>{{ paiement.numero }}</td>
                <td align="right" >{{ paiement.valeur|number_format(2, ',', ' ') }}</td>
                <td>
                    <a class="btn btn-xs btn-warning" href="{{ path('paiement_edit', {'id' : facture.id , 'idPaiement': paiement.id }) }}" >Editer</a>
                </td>
            </tr>
        {% endfor %}
        <tr>
            <td colspan="4" >Total</td>
            <td align="right"  >{{ facture.totalPaiements|number_format(2, ',', ' ') }}</td>
        </tr>
        </tbody>
    </table>


{% endblock %}
