<head>
    <meta charset='utf-8'>

    <link rel="icon" href="{{ asset('img/favicon_SD.png') }}"/>
    <title>Facture {{ facture.reference }}</title>
    {{ include('::style.html.twig') }}
</head>
<body>
{% set client = facture.bonDeCommandeClient.client %}
<div class="header">
    <table width="100%">
        <tr>
            <td style="width: 270px;">
                <img height="85" width="204" src="img/LOGO-SD-HR.png">
            </td>
            <td style="width: 240px;">
                <h1 style="font-size: 100%;">Facture {{ facture.reference }}</h1>
                <table>
                    <tr>
                        <td>Date :</td>
                        <td>{{ facture.date|date('d/m/Y') }}</td>
                    </tr>
                    <tr>
                        <td>Bon de commande :</td>
                        <td>{{ facture.bonDeCommandeClient.numeroDeBonDeCommandeClient }}</td>
                    </tr>
                </table>
            </td>
            <td style="vertical-align: top;background-color: #F4F4F4;padding-top: 5px;padding-left: 5px;">
                <b>Facturé pour :</b><br>
                {{ client.nom }}<br>
                {% if client.address %}
                    {{ client.address }}<br>
                {% endif %}

                {% if client.tel %}
                    {{ client.tel }} <br>
                {% endif %}
                <b>Contact :</b> {{ facture.bonDeCommandeClient.contact }}
            </td>
        </tr>
    </table>
</div>
<br>
<br>
<br>
<table>
    <tr>
        <td align="top">Bon de livraison :</td>
        <td>
            {% for liv in facture.bonDeCommandeClient.livraisons %}
                {{ liv.reference }}
                {% if not loop.last %} | {% endif %}
            {% endfor %}
        </td>
    </tr>
</table>
<br>
<table class="produits" style="font-size: 13px;">
    <thead>
    <tr>
        <th width="10%">Qté</th>
        <th width="50%">Désignation</th>
        <th width="20%" align="right">P.U. H.T. {{ facture.bonDeCommandeClient.devis.devisevente.symbol }}</th>
        <th width="20%" align="right">S.T. H.T. {{ facture.bonDeCommandeClient.devis.devisevente.symbol }}</th>
    </tr>
    </thead>
    <tbody>
    {% for produit in facture.bonDeCommandeClient.abstractProduits if not produit.estFusionne %}
        <tr>
            <td align="center">{{ produit.quantite }}</td>
            <td>
                {% if produit.designation|trim != '' %}
                    <strong>{{ produit.designation|capitalize }} : </strong>
                    <br>
                {% endif %}
                {{ produit.description|raw }}
                {% if produit.isProduct %}
                    {% if not produit.garanties is empty %}
                        <br><strong>Garantie : </strong>
                        {% for garantie in produit.garanties %}
                            <br>{{ garantie }}
                        {% endfor %}
                    {% endif %}
                    {% if not produit.termes is empty %}
                        <br><strong>Conditions particulières : </strong>
                        {% for terme in produit.termes %}
                            <br>{{ terme.nom|capitalize ~" - "~ terme.description }}
                        {% endfor %}
                    {% endif %}
                {% endif %}
            </td>
            <td align="right">{{ produit.prixVenteHT|number_format(produit.typeproduit.precision, ',', '.') }} {{ facture.bonDeCommandeClient.devis.devisevente.symbol }}</td>
            <td align="right">
                {{ produit.sousTotalHT|number_format(produit.typeproduit.precision, ',', '.') }}
                {{ facture.bonDeCommandeClient.devis.devisevente.symbol }}
                &nbsp;
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<br>
{% if facture.modePaiement %}
    Mode de paiement : {{ facture.modePaiement }}
{% endif %}
<br>

<table class="totaux">
    <tbody>
    <tr>
        <th>Total HT</th>
        <td>{{ facture.bonDeCommandeClient.getTotalHT|number_format(2, ',', '.') }} {{ facture.bonDeCommandeClient.devis.devisevente.symbol }}</td>
    </tr>
    <tr>
        <th>Total T.V.A.</th>
        <td>{{ facture.bonDeCommandeClient.getTotalTVA|number_format(2, ',', '.') }} {{ facture.bonDeCommandeClient.devis.devisevente.symbol }}</td>
    </tr>
    <tr>
        <th>Total TTC</th>
        <td>{{ facture.bonDeCommandeClient.getTotalTTC|number_format(2, ',', '.') }} {{ facture.bonDeCommandeClient.devis.devisevente.symbol }}</td>
    </tr>
    <tr>
        <td colspan="2"><i>La somme de la présente facture est arretée à :
                <strong>{{ facture.bonDeCommandeClient.devis.totalTTC|localizednumber('spellout','default','fr_FR')|capitalize }} {{ facture.bonDeCommandeClient.devis.devisevente.nom }}
                    TTC.</strong></i>
        </td>
    </tr>
    </tbody>
</table>

<div class="footer">
    {% include '::footer.html.twig' with {'footer': facture.bonDeCommandeClient.devis.piedDePage} %}
    <p class="page"></p>
</div>
<br>
<br>

<br>


<div class="page-number"></div>

</body>