{% import "macros.html.twig" as mg %}
<head>
    <meta charset='utf-8'>

    <link rel="icon" href="{{ asset('img/favicon_SD.png') }}" />
    <title>Devis N° {{ devis.id }}</title>

    {{ include('::style.html.twig') }}
</head>
<body>
<div class="header">
    <table class="entete" width="100%;" >
        <tr>
            <td rowspan="4" align="center"  >
                <img height="85" width="204" src="img/LOGO-SD-HR.png"><br>
            </td>
            <th class="numero" rowspan="4">
                Devis n°{{ devis.getReference }}
            </th>
            <th>
                Gestionnaire :
            </th>
            <td>
                {{ devis.commercial }}
            </td>
        </tr>
        <tr>
            <th>
                Email:
            </th>
            <td>
                {{ devis.commercial.email }}
            </td>
        </tr>
        <tr>
            <th>
                Telephone :
            </th>
            <td>
                {{ devis.commercial.telephone }}
            </td>
        </tr>
        <tr>
            <th>
                Valide jusqu'au
            </th>
            <td>
                {{ devis.datemodification|date_modify(""~devis.validite~" day")|localizeddate('none', 'none', 'fr_FR', null, "cccc, d MMMM Y")|capitalize }}
            </td>
        </tr>
    </table>
    <br>
</div>


<div class="footer">
    <table class="piedDePage" >
        <tbody>
        <tr>
            <th>Contacts</th>
            <th>Informations Juridiques</th>
            <th>Identifiants de l'entreprise</th>
        </tr>
        <tr>
            <td valign="top" >
                {{ devis.piedDePage.adresse }}
                <br>
                {{ devis.piedDePage.Telephone }}
                <br>
                {{ devis.piedDePage.fax }}
                <br>
                {{ devis.piedDePage.email }}
            <td valign="top" >
                SOLDAT {{ devis.piedDePage.formejuridique }}<br>
                Au capital de {{ devis.piedDePage.capital }}<br>
                RC : {{ devis.piedDePage.rc }}
            </td>
            <td valign="top" >
                ICE : {{ devis.piedDePage.ice }}<br>
                Patente : {{ devis.piedDePage.patente }}<br>
                CNSS : {{ devis.piedDePage.cnss }}
            </td>
        </tr>
        </tbody>
    </table>
    <p class="page"></p>
</div>

<table class="client" >
    <tbody>
    <tr>
        <th>Objet du devis :</th>
        <td style="width: 200px;" >{{ devis.titre }}</td>
    </tr>
    <tr>
        <th>Date :</th>
        <td>{{ "now"|localizeddate('none', 'none', 'fr_FR', null, "cccc, d MMMM Y")|capitalize }}</td>
    </tr>
    <tr>
        <th>A l'attention de :</th>
        <td>{{ devis.contact }}</td>
    </tr>
    <tr>
        <th>Pour le compte de :</th>
        <td>{{ devis.client.nom }}</td>
    </tr>
    </tbody>
</table>
<br>
<table class="introduction">
    <tbody>
    <tr>
        <th></th>
    </tr>
    <tr>
        <td>{{ devis.introduction.getTexte |nl2br }}</td>
    </tr>
    </tbody>
</table>
<br>
<table class="produits">
    <thead>
    <tr>
        <th width="10%">Qté</th>
        <th width="50%">Désignation</th>
        <th width="20%" align="right">P.U. H.T. {{ devis.devisevente.symbol }}</th>
        <th width="20%" align="right">S.T. H.T. {{ devis.devisevente.symbol }}</th>
    </tr>
    </thead>
    <tbody>
    {% for produit in devis.abstractProduits if not produit.estFusionne %}
        <tr>
            <td align="center">{{ produit.quantite }}</td>
            <td>
                {% if produit.designation|trim != '' %}
                    <strong>{{ produit.designation }} : </strong>
                    <br>
                {% endif %}
                {{ produit.description|raw }}
                {% if produit.isProduct %}
                {% if not produit.garanties is empty %}
                    <br><strong>Garantie : </strong>
                    {% for garantie in produit.garanties %}
                        <br>{{ garantie }}
                    {% endfor %}
                {% endif %}
                {% if not produit.termes is empty %}
                    <br><strong>Conditions particulières : </strong>
                    {% for terme in produit.termes %}
                        <br>{{ terme.nom|capitalize ~" - "~ terme.description  }}
                    {% endfor %}
                {% endif %}
                {% endif %}
            </td>
            <td align="right">{{ produit.prixVenteHT|number_format(produit.typeproduit.precision, ',', ' ') }} {{ devis.devisevente.symbol }}</td>
            <td align="right">{{ produit.sousTotalHT|number_format(produit.typeproduit.precision, ',', ' ') }} {{ devis.devisevente.symbol }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<br>
<table class="totaux">
    <tbody>
    <tr>
        <th>Total HT</th>
        <td>{{ devis.getTotalHT|number_format(2, ',', ' ') }} {{ devis.devisevente.symbol }}</td>
    </tr>
    <tr>
        <th>Total T.V.A.</th>
        <td>{{ devis.getTotalTVA|number_format(2, ',', ' ') }} {{ devis.devisevente.symbol }}</td>
    </tr>
    <tr>
        <th>Total TTC</th>
        <td>{{ devis.getTotalTTC|number_format(2, ',', ' ') }} {{ devis.devisevente.symbol }}</td>
    </tr>
    <tr>
        <td colspan="2"><i>La somme du présent devis est arretée à :
                <strong>{{ mg.nbr2char(devis.totalTTC)}} {{ devis.devisevente.nom }}
                    TTC.</strong></i></td>
    </tr>
    </tbody>
</table>
<br><br><br><br><br><br><br><br><br><br>
{% if not devis.termes is empty %}
    <strong><u> Conditions commerciales générales : </u></strong><br><br>
    <table class="termes">
        <tbody>

        {% for terme in devis.termes %}
            <tr>
                <th>{{ terme.categorie.nom|capitalize }} :</th>
                <td>{{ terme.description|capitalize }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}
<br><br>
<table class="signature">
    <tbody>
    <tr>
        <td>Cordialement,</td>
    </tr>
    <tr>
        <th>{{ devis.commercial.civilite }} {{ devis.commercial.prenom }} {{ devis.commercial.nom }}</th>
    <tr>
        <th>{{ devis.Commercial.poste }}</th>
    </tr>
    </tbody>
</table>

<div class="page-number"></div>

</body>