<head>
    <meta charset='utf-8'>

    <link rel="icon" href="{{ asset('img/favicon_SD.png') }}"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <title>Devis N° {{ devis.id }}</title>

    {{ include('::style.html.twig') }}
    <style>
        th, td{
            padding: 7px 3px 7px 3px;
        }

        *{
            font-family: 'Open Sans', sans-serif;
        }
    </style>
</head>
<body>
<div class="header">
    <table class="entete" width="100%;">
        <tr>
            <td style="width: 270px;">
                <img height="85" width="204" src="img/LOGO-SD-HR.png">
            </td>
            <td>

            </td>
        </tr>
    </table>
    <br>
</div>


<div class="footer">
    {% include '::footer.html.twig' with {'footer': devis.piedDePage} %}
    <p class="page"></p>
</div>
<br>
<h1 style="font-size: 16px;text-align: center;">
    Bordereaux des prix-détail estimatif<br>
    Appel d'offres ouvert sur offres de prix n° {{ devis.lot.rfp.number }} relatif à L'acquisition d'équipements informatiques

</h1>
<br>
<br>
<br>
<br>
<br>
<h3 style="font-size: 14px" >{{ devis.titre }}</h3>
<table id="#tablePrice" border="1" style="width: 100%" >
    <thead>
    <tr style="background-color: #EEEEEE" >
        <th align="center">N° De prix</th>
        <th align="center">DÉSIGNATION</th>
        <th align="center">Unite de mesure ou de compte</th>
        <th align="center">Qté</th>
        <th align="center">Prix Unitaire en dirhams<br>(hors TVA)</th>
        <th align="center">Prix Total en dirhams<br>(hors TVA)</th>
    </tr>
    </thead>
    <tbody>
    {% for produit in devis.abstractProduits if not produit.estFusionne %}
        <tr>
            <td align="center">{{ produit.ordre }}</td>
            <td>
                {{ produit.designation }}
            </td>
            <td align="center">{{ produit.unite }}</td>
            <td align="center">{{ produit.quantite }}</td>
            <td align="right">{{ produit.prixVenteHT|number_format(produit.typeproduit.precision, ',', ' ') }}</td>
            <td align="right">{{ produit.sousTotalHT|number_format(produit.typeproduit.precision, ',', ' ') }}</td>
        </tr>
    {% endfor %}
    <tr>
        <td colspan="4" >
            <b style="font-size: 15px" >Montant Total Hors TVA</b>
        </td>
        <td colspan="2" align="right" ><b style="font-size: 15px" >
                {{ devis.getTotalHT|number_format(2, ',', ' ') }} {{ devis.devisevente.symbol }}
            </b>
        </td>
    </tr>
    <tr>
        <td colspan="4" >
            <b style="font-size: 15px" >Taux TVA (20%)</b>
        </td>
        <td colspan="2" align="right" ><b style="font-size: 15px" >
                {{ devis.getTotalTVA|number_format(2, ',', ' ') }} {{ devis.devisevente.symbol }}
            </b>
        </td>
    </tr>
    <tr>
        <td colspan="4" >
            <b style="font-size: 15px" >Montant Total TTC</b>
        </td>
        <td colspan="2" align="right" ><b style="font-size: 15px" >
                {{ devis.getTotalTTC|number_format(2, ',', ' ') }} {{ devis.devisevente.symbol }}
            </b>
        </td>
    </tr>

    </tbody>
</table>
<br>


<br><br>
<div style="float: right" >Fait à <b>Casablanca</b> le <b>{{ "now"|localizeddate('none', 'none', 'fr_FR', null, "cccc, d MMMM Y")|capitalize }}</b></div>

<div class="page-number"></div>

</body>